<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Sign Out"/>
</form>
<a th:href="@{/userProfile}"></a>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение ">
        <input type="text" name="tag" placeholder="Tэг">
        <select size="1" name="year">
            <option value="1999">1999</option>
            <option value="2000">2000</option>
            <option value="2001">2001</option>
            <option value="2002">2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
        </select>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button type="submit">Добавить</button>
    </form>
</div>
<table>
<tr>
    <td>ID</td>
    <td>Description</td>
    <td>Tag</td>
    <td>Year</td>
    <td>Owner</td>
    <td></td>
    <td></td>
</tr>
<tr th:each="item: ${items}">
    <td th:text="${item.id}"></td>
    <td th:text="${item.text}"></td>
    <td><i th:text="${item.tag}"></i></td>
    <td><i th:text="${item.year}"></i></td>
    <td><strong th:text="${item.authorName}"></strong></td>
    <td><form th:action="@{'/item/edit/' + ${item.id}}" method="post" style="display: inline;">
        <button type="submit" >Edit</button></form></td>
    <td><form th:action="@{'/item/' + ${item.id}}" method="get" style="display: inline;">
        <button type="submit" th:value="${item.author}" name="author" >Delete</button></form></td>
</tr>
</table>
</body>
</html>